#APIキーの設定 https://developer.twitter.com/en/portal/dashboard で確認可
consumer_key = "***************"
consumer_secret = "***************"
access_token = "***************"
access_token_secret = "***************"